* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    backdrop-filter: blur(10px);
    font-size: 20px;
    position: absolute;
    background-color: rgb(168 201 160 / 39%);
    top: 0px;
}

.logo {
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.ul {
    list-style-type: none;
    margin-right: 60px;
}

.ul li {
    float: left;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.ul li a, .logo a {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.ul li a:hover {
    /* float: left; */
    margin: 10px;
    color: blueviolet;
    background-color: azure;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
button {
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(168 201 160 / 39%);
    backdrop-filter: blur(4px);
    transition: ease-in-out 0.2s;
    
}
button:hover{
    transform: scale(1.07);
    transition: ease-in-out 0.2s;
    overflow: hidden
    
}

.hero {
    background-image: url("../pics/mon.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    background-attachment: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: white;
}
.information{
    margin: 4%;
}
.information h2{
    text-align: center;
}
.about{
    margin: 33px;
}
.trav{
    text-align: center;
}
.travel, .destination{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 75px 300px;
    padding: 20px;   
}
.travel div,
.destination div{
    width: 300px;
    margin-bottom: 100px;
}
.travel img, .destination img{
    border-radius: 20px;
    height: 200px;
    width: 280px;
    padding: 10px;
}
.travel .imgs:hover, .destination .imgs:hover, .testimonials .imgs:hover{
    transform: scale(1.07);
    transition: ease-in-out 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* overflow: hidden; */
    border-radius: 30px;
}
.imgs{
    text-align: center;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 75px 300px;
}
.testimonials div{
    width: 300px;
    margin-bottom: 100px;
}
.testimonials img{

    border-radius: 130px;
    height: 59%;
    width: 70%;
    display: block;
    margin: 18px 0 0 45px;;
}
.testimonials h3, .testimonials p {
    text-align: center;
    margin-top: 10px;
}
h3{
    text-align: center;
    margin-top: 10px;
}
h2{
    text-align: center;
}

.contact h2, p{
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

form input, form textarea{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}
form textarea {
    height: 150px;
  }

  form button{
    padding: 12px 24px;
    background-color: #68856e;
    cursor: pointer;
    border-radius: 30px;
    border: solid #325f22;
  }

  footer{
    height: 20vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #68856e;
    justify-content: center;
    color: white;
  }

  @media screen and (max-width: 1130px) {
    .about,
    .destination,
    .travwl,
    .testimonials{
      margin: 64px 150px;
    }
    .testimonials,
    .destination,
    .travel {
      justify-content: center;
    }
  }
  @media screen and (max-width: 900px) {
    .about,
    .destination,
    .travel,
    .testimonials {
      margin: 24px 64px;
    }
    .contact {
      width: 80%;
    }
  }
